@page
@model AutoService.Pages.Users.IndexModel
@{
}
<form>
    <div class="border" style="background-color:white">
        <div class="row p-3">
            <div class="col-6">
                <h2 class="text-info"> لیست مشتری ها </h2>
            </div>
            <div class="col-6 text-right">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info text-white">
                    <i class="fas fa-plus fa-sm"></i>
                    افزودن مشتری جدید
                </a>
            </div>
        </div>
        <br />
    </div>
    <div class="border ">
        <br />
        <div>
            @if (@Model.UserListViewModel.ApplicationUsers.Count > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(m=>m.UserListViewModel.ApplicationUsers[0].Name)
                        </th>
                        <th>
                            شماره تلفن
                        </th>
                        <th>
                           ایمیل
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var user in Model.UserListViewModel.ApplicationUsers)
                    {
                        <tr class="table-secondary">
                            <td>@user.Name</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Email</td>
                            <td style="width:150px">
                                <a class="btn  btn-outline-primary" asp-page="Edit" asp-route-Id="@user.Id">
                                    <i class="fas fa-edit fa-sm"></i>
                                </a>
                                <a class="btn  btn-outline-success" asp-page="Detail" asp-route-Id="@user.Id">
                                    <i class="fas fa-list-alt fa-sm"></i>
                                </a>
                                <a class="btn  btn-outline-danger" asp-page="Delete" asp-route-Id="@user.Id">
                                    <i class="fas fa-trash fa-sm"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5" class="text-end">
                            <div page-model="@Model.UserListViewModel.PaginingInfo"
                            page-action="Indecx"
                            page-class="btn border"
                            page-class-selected="btn btn-info active"
                            page-class-normal ="btn bt-light"
                            class="btn-group">
                            </div>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <div>
                    کاربری یافت نشد
                </div>
            }

        </div>
    </div>
</form>