@page
@model AutoService.Pages.ServiceTypes.IndexModel
@{
}

<h1>مدیریت خدمات اتوسرویس </h1>
<div class="border" style="background-color:white">
    <div class="row p-3">
        <div class="col-6">
            <h2 class="text-info"> لیست سرویس های ما </h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-info text-white">
                <i class="fas fa-plus fa-sm"></i>
                افزودن سرویس جدید
            </a>
        </div>
    </div>
    <br />
</div>
<div class="mt-3">
    @if (Model.ServiceTypes.Count == 0)
    {
        <div class="alert alert-warning">
            سرویسی حهت  نمایش تعریف نشده است از طریق
            <a asp-page="Create" class="btn btn-link">
                افزودن سرویس جدید
            </a>
            سرویس جدید ایجاد کنید.
        </div>
    }
    else
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>عنوان سرویس</th>
                <th>قیمت سرویس</th>
                <th></th>
            </tr>
            @foreach (var item in Model.ServiceTypes)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td style="width:150px">
                        <div>
                            <a class="btn  btn-outline-primary" asp-page="Edit" asp-route-Id="@item.Id">
                                <i class="fas fa-edit fa-sm"></i>
                            </a>
                            <a class="btn  btn-outline-success" asp-page="Detail" asp-route-Id="@item.Id">
                                <i class="fas fa-list-alt fa-sm"></i>
                            </a>
                            <a class="btn  btn-outline-danger" asp-page="Delete" asp-route-Id="@item.Id">
                                <i class="fas fa-trash fa-sm"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>
